body {
    width: 100%;
    
    
}

.wrapper {
    width: 100%;
    background-color: grey; 
    border: white solid 30px;
    height:700px;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}